*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.barra{
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 10vh;
    background-color: rgb(128, 128, 222);
}

.facebook{
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 10vh;
    font-weight: 500;
    background-color: rgb(128, 128, 222);
}

.cuadroEmail{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 10vh 10vh;
    background-color: rgb(128, 128, 222);
    
}

#rememberme{
    background-color: rgb(128, 128, 222);
    width: 60vw;
    height: 10vh;
}

#forgot{
    background-color: rgb(128, 128, 222);
}