*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.barra{
    display: flex;
    flex-direction: row;
    width: 300vw;
    background-color: rgb(128, 128, 222);
}

.facebook{
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 10vh;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(128, 128, 222);
    color: white;
    margin-top: 10px;
}

.fatherrmfg{
    margin-top: 3px;
    display: grid;
    grid-template-columns: 20vw 20vw 10vw;
    grid-template-rows: 5vh 5vh;
}
#rememberme{
    text-align: center;
    color: white;
}
#forgot{
    text-align: center;
    color: white;
}

/*.fatherrmfg{
    display: grid;
    grid-template-columns: 22vw 20vw 5vw;
    grid-template-rows: 5vh 5vh;
    margin-top: 3px;
    
}
#rememberme{
    display: grid;
    background-color: rgb(128, 128, 222);
    text-align: center;
    align-self: initial;
    
}

#forgot{
    display: grid;
    background-color: rgb(128, 128, 222);
    text-align: center;
    align-self: last baseline;
    
}*/