*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.barra{
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 10vh;
    background-color: rgb(128, 128, 222);
}

.facebook{
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 10vh;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(128, 128, 222);
    color: white;
}

.fatherrmfg{
    
}
#rememberme{
    display: grid;
    background-color: rgb(128, 128, 222);
    width: 60vw;
    height: 10vh;
    justify-content: end;
    grid-row: 2/3;
}

#forgot{
    display: grid;
    background-color: rgb(128, 128, 222);
    width: 60vw;
    height: 10vh;
    grid-template-columns: 2/3;
}